<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<!--FOOTER-->
<footer id="main-footer" class="py-2 bg-dark">
    <div class="container" >
        <div class="row text-center">
			<div class="col-md-3 ml-auto">
			</div>
				<div class="col-md-6 ml-auto">
					<p id="wyloguj">
						Copyright &copy; Przmemysław Matkowski and Jacob Turoń
					</p>
				</div>
						<div class="col-md-3 ml-auto">
			</div>

        </div>
    </div>
</footer>