<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="pl"/>
    <meta name="description" content="Testujemy">
  <meta name="keywords" content="Przemek, Przemyslaw, Katalog, Film, Projekt">
  <meta name="author" content="Przemysław Matkowski i Jakub Qiubacz Turoń">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link rel="stylesheet" href="bootstrap.css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="typeahead.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="/emas94/style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

      <style type="text/css">
  		 /*<![CDATA[*/
  		
  /*]]>*/
    </style>
    <title>Katalog filmów</title>


    </head>