<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/emas94/images/tintin.jpg" class="d-block w-100" alt="Tintin">
       <div class="carousel-caption">
        <h3></h3>
        <p></p>
  </div>
    </div>
    <div class="carousel-item">
      <img src="/emas94/images/knight5.jpg" class="d-block w-100" alt="The Dark Knight ">
       <div class="carousel-caption">
        <h3></h3>
        <p></p>
  </div>
    </div>
    <div class="carousel-item">
      <img src="/emas94/images/pacific.jpg" class="d-block w-100" alt="Bohemia Rapsody">
             <div class="carousel-caption">
        <h3></h3>
        <p></p>
  </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>