<nav class="navbar navbar-expand-lg navbar-light lighten-4 bg-dark p-4">
  <button class="navbar-toggler .btn-lilight" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-link active" id="kolor" href="/emas94/index.php" >Strona Główna</a>
        <a class="nav-link" id="kolor" href="/emas94/pages/bazaFilmow.php">Baza Filmów</a>
        <a class="nav-link" id="kolor" href="/emas94/pages/mOceny.php">Moje oceny</a>
        <a class="nav-link" id="kolor" href="/emas94/pages/kontakt.php">Kontakt</a>
        <a class="nav-link" id="kolor" href="/emas94/pages/rejestracja.php">Rejestacja</a>
        <?php if(isset($_SESSION["Nick"])){
          echo "<a class=\"nav-link\" id=\"kolor\" href=\"/emas94/pages/recenzje.php\">Recenzje</a>";}else {} ?>
 <?php if(!isset($_SESSION["Nick"])){
		echo "<a class=\"nav-link\" id=\"kolor\" href=\"/emas94/pages/login.php\">Logowanie</a>"; 
	}else
	{
		echo  "<a class=\"nav-link\" id=\"wyloguj\" href=\"/emas94/pages/logout.php\">",$_SESSION['Nick'],", wyloguj się</a><b>" ;
	}
  ?>      

    </div>
  </div>
</nav>