body {
  background-image: url("https://www.leestcrc.org/wp-content/uploads/2016/12/gradient-black-background-wallpaper-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff !important;
}

.form-heading {
  color: #fff;
  font-size: 23px;
}

.panel h2 {
  color: #e0e0e0;
  font-size: 18px;
  margin: 0 0 8px 0;
}

.panel p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  /* height: 50px;
  line-height: 50px;*/
}

.main-div {
  background: #606060 none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 20px;
  /*max-width: 38%;*/
  padding: 50px 10% 20px 10%;
}

.login-form .form-group {
  margin-bottom: 10px;
}

.login-form {
  text-align: center;
}

.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

.login-form .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 16px;
  /*width: 100%;
  height: 50px;
  line-height: 50px;*/
  padding: 8px;
}

.forgot {
  text-align: left;
  margin-bottom: 30px;
}

.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}

.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}

.back {
  text-align: left;
  margin-top: 10px;
}

.back a {
  color: #444444;
  font-size: 13px;
  text-decoration: none;
}

.collapse {
  color: red;
}

#kolor {
  color: white;
}

#wyloguj {
  color: #ff99cc;
}

.opis {
  display: none;
  border: #ff9900 solid 115px;
}

.navbar-light .navbar-toggler {
  border-color: white !important;
}

.dwa {
  display: none;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

#authors img {
  margin-top: -50px;
}

#authors .card:hover {
  background: #3292a6;
  color: #fff;
}

#authors .fab {
  color: #fff;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
  }
  #showcase h1 {
    font-size: 4rem;
  }
  .mb-resp {
    margin-bottom: 1rem;
  }
}
